<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>


<div class="row marketing">
    {{myInput}}
    <h1>Blogs</h1>
  <form ng-submit="addyInputToAwesoeThings()">
    <fieldset><lable>Title:</lable><input type="text" ng-model="blog.title" placeholder="title"/></fieldset>
    <fieldset><lable>Content:</lable><textarea ng-model="blog.content" placeholder="content"/></fieldset>
    <fieldset><lable>Post By:</lable><input type="text" ng-model="blog.post_by" placeholder="post by"/></fieldset>
    <br>
    <input type="submit" value="submit"/>
  </form>
<div ng-show="error">
  {{error}}
</div>
{{error}}
<div ng-hide="error">
  Filter: <input type="text" ng-model="searchTerm"/>
  <ul ng-repeat="blog in awesomeThings | filter:{title:searchTerm}">
    <li>{{blog.title}}</li>
  </ul>
</div>
</div>